**/target
**/*.py
**/*.pyc
Cargo.lock
**/.vscode
**/src/custom
**/src/mario
*.lnk

Script.md

release/plugin.nro

.devcontainer/

.vs/

*.bat

*.ps1

*.prc

*.prcx

romf/ui/param/database/notes.txt

*.msbt

**/SharpSmashlineSuite
