**/target
**/*.py
**/*.pyc
Cargo.lock
**/.vscode
**/src/custom
**/src/mario
*.lnk

Script.md

release/plugin.nro

.devcontainer/

.vs/

hdrLibraries/.github/workflows/

hdrLibraries/dynamic/

hdrLibraries/hdr-macros/

hdrLibraries/

*.bat

*.ps1

*.prc

*.prcx

romf/ui/param/database/notes.txt

*.msbt

